<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>懂贷咖</title>
    <link rel="stylesheet" href="__ICSS__/mui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/css/style.css">
    <link rel="stylesheet" href="__ICSS__/xuser.css">
    <script src="__PUBLIC__/js/mui.min.js"></script>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
</head>
<body>

<style>
    .bot_box {
        margin-top: 0.2rem;
        padding-bottom: 1rem;
    }

    .set_out {
        height: 0.9rem;
        line-height: 0.9rem;
        background: #fff;
        text-align: center;
        font-size: 0.3rem;
        margin-bottom: 0.2rem;
    }

    .set_out a {
        color: #333333;
    }

    .sign_out a {
        color: #ff4444;
    }
</style>

<div class="container">
    <div class="user_box">
        <div class="user_top">
            <div class="user_head clearfix">
                <div class="head_left">
                    {if condition="isset($data['gender']) && $data['gender'] == 2"}
                    <img src="__IIMG__/userhead_mm.png" alt="">
                    {else/}
                    <img src="__IIMG__/userhead_nan.png" alt="">
                    {/if}
                </div>
                <div class="head_cen">
                    <p>{$data['names']}</p>
                    <p>{$data['mobile']|substr_replace = '****',3,4}</p>
                </div>
                <a href="{:url('/index/personal/supplement')}">
                    <div class="head_right">
                        <i class="mui-icon mui-icon-arrowright"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="gray_area"></div>
        <div class="user_cen">
            <p class="remain_ti">{$data['money']}</p>
            <p class="remain_p">账户余额</p>
            <p class="remain_p">累计总收入：{$data['total_achievement']}</p>
            <a class="withdrawal_btn" href="{:url('/index/withdrawal/index')}">立即提现</a>
        </div>
    </div>
    <div class="user_item">
        <a href="{:url('/index/ranking/index')}">
            <p>
                <img src="__IIMG__/icon_agent_ranking.png" alt="">排行榜
                <i class="mui-icon mui-icon-arrowright"></i>
            </p>
        </a>
    </div>
    <div class="user_item">
        <a href="{:url('/index/withdrawal/list_index')}">
            <p>
                <img src="__IIMG__/fk.png" alt="">提现记录
                <i class="mui-icon mui-icon-arrowright"></i>
            </p>
        </a>
        <a href="{:url('/index/subordinate/index')}">
            <p>
                <img src="__IIMG__/icon_team.png" alt="">我的团队
                <i class="mui-icon mui-icon-arrowright"></i>
            </p>
        </a>
        <a href="{:url('/index/customer/invite')}">
            <p>
                <img src="__IIMG__/icon_invite.png" alt="">邀请代理
                <i class="mui-icon mui-icon-arrowright"></i>
            </p>
        </a>
    </div>
    <div class="user_item">
        <a href="{:url('/index/Agent/handbook')}">
            <p>
                <img src="__IIMG__/icon_operate.png" alt="">操作手册
                <i class="mui-icon mui-icon-arrowright"></i>
            </p>
        </a>
    </div>
    <div class="user_item">
        <a href="{:url('/index/Agent/commonProblem')}">
            <p>
                <img src="__IIMG__/icon_question.png" alt="">常见问题
                <i class="mui-icon mui-icon-arrowright"></i>
            </p>
        </a>
        <a href="{:url('/index/customer/index')}">
            <p>
                <img src="__IIMG__/icon_customer.png" alt="">联系客服
                <i class="mui-icon mui-icon-arrowright"></i>
            </p>
        </a>
    </div>
    <div class="user_item">
        <a href="{:url('/index/personal/modify')}">
            <p>
                <img src="__IIMG__/icon_change.png" alt="">密码修改
                <i class="mui-icon mui-icon-arrowright"></i>
            </p>
        </a>
    </div>

    <div class="bot_box">
        <!--  <div class="set_out">
              <a href="javascript:;">切换账号</a>
          </div> -->
        <div class="set_out sign_out">
            <a href="{:url('index/login/drop')}">退出登录</a>
        </div>
    </div>
    {include file="layout/main" /}
</div>
</body>
<script>
    $(function () {
        $(".tab_item").click(function () {
            $(this).addClass("active").siblings().removeClass("active");
        })
    })
</script>