<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心</title>
    <link rel="stylesheet" href="__ICSS__/mui.css">
    <link rel="stylesheet" href="__ICSS__/iconfont.css">
    <link rel="stylesheet" href="__ICSS__/style.css">
    <link rel="stylesheet" href="__ICSS__/user_center.css">
    <script src="__IJS__/mui.min.js"></script>
    <script src="__IJS__/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="user_box">
        <div class="user_top">
            <div class="user_head clearfix">
                <div class="head_left">
                    {if condition="isset($user['gender']) && $user['gender'] == 2"}
                    <img src="__IIMG__/userhead_mm.png" alt="">
                    {else/}
                    <img src="__IIMG__/userhead_nan.png" alt="">
                    {/if}
                </div>
                <div class="head_cen">
                    <p>{$user.names}</p>
                    <p>{$user.mobile}</p>
                </div>
                <div class="head_right">
                    <a href="{:url('index/Customers/detail')}"><i class="mui-icon mui-icon-arrowright"></i></a>
                </div>
            </div>
        </div>
        <div class="gray_area"></div>
        <div class="user_cen clearfix">
            <div class="cen_item">
                <a href="{:url('index/Customers/money')}">
                    <img src="__IIMG__/user/icon_reward.png" alt="">
                    <p>我的钱包</p>
                </a>
            </div>
            <div class="cen_item">
                <a href="{:url('index/Platform/index')}">
                    <img src="__IIMG__/user/icon_record.png" alt="">
                    <p>查询记录</p>
                </a>
            </div>
            <div class="cen_item">
                <a href="{:url('index/Customers/comment')}">
                    <img src="__IIMG__/user/icon_comment.png" alt="">
                    <p>评论管理</p>
                </a>
            </div>
            <div class="cen_item">
                <a href="{:url('index/Customers/rank')}">
                    <img src="__IIMG__/user/icon_ranking.png" alt="">
                    <p>排行榜</p>
                </a>
            </div>
        </div>
    </div>
    <img class="user_ban" src="__IIMG__/user/tuiguangbanner.png" alt="">
    <a href="{:url('/index/login/registered',['pid'=>$user['pid']])}">
    <div class="up_agent">
        <span>
            <img src="__IIMG__/user/a1.png" alt="">
        </span>
        成为代理
        <i class="mui-icon mui-icon-arrowright"></i>
    </div>
    </a>
    <ul class="set_box">
        <a href="{:url('index/customers/kefu')}">
        <li>
            <span>
                <img src="__IIMG__/user/b1.png" alt="">
            </span>
            联系客服
            <i class="mui-icon mui-icon-arrowright"></i>
        </li>
        </a>
        <li>
            <span>
                <img src="__IIMG__/user/c1.png" alt="">
            </span>
            帮助中心
            <i class="mui-icon mui-icon-arrowright"></i>
        </li>
        <li>
            <span>
                <img src="__IIMG__/user/d1.png" alt="">
            </span>
            设置
            <i class="mui-icon mui-icon-arrowright"></i>
        </li>
    </ul>
</div>
</body>
</html>