<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>评论管理</title>
    <link rel="stylesheet" href="__ICSS__/mui.min.css">
    <link rel="stylesheet" href="__ICSS__/iconfont.css">
    <link rel="stylesheet" href="__ICSS__/style.css">
    <link rel="stylesheet" href="__ICSS__/comment.css">
    <script src="__IJS__/mui.min.js"></script>
    <script src="__IJS__/jquery.min.js"></script>
    <style>
        .show{width: 21px;height: 21px;border-radius: 50%;background: red;line-height: 21px;
            text-align: center;margin-top: 13px; display: inline-block;color: white;float: right;margin-right: 10%;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="comment_top">
        <p>
            <a href="{:url('index/Customer/reply')}">
                <img src="__IIMG__/user/icon_coms.png" alt="">回复我的
                {if condition="$res.reply neq 0"}
                <span class="show">{$res.reply}</span>
                {/if}
                <i class="mui-icon mui-icon-arrowright"></i>
            </a>
        </p>
        <p>
            <a href="{:url('index/Customer/praise')}">
                <img src="__IIMG__/user/icon_zan.png" alt="">点赞
                {if condition="$res.praise neq 0"}
                <span class="show">{$res.praise}</span>
                {/if}
                <i class="mui-icon mui-icon-arrowright"></i>
            </a>
        </p>
    </div>
    <div class="gray_line"></div>

    <div class="comment_box">
        <p class="comment_ti">我的评论</p>
        {if condition="$res.list neq false"}
            {foreach $res.list as $v}
            <div class="comment_list">
                <div class="comment_head clearfix">
                    <div class="head_left">
                        <img src="__IIMG__/user/userhead_nv.png" alt="">
                    </div>
                    <div class="head_right">
                        <p>{$v.uname}</p>
                        <p>{$v.createdAt|date="Y-m-d",###}</p>
                    </div>
                </div>
                <p class="comment_cont">{$v.content}</p>
                <p class="zan_num">
                    <img src="__IIMG__/user/zan_red.png" alt="">{$v.awesome}人赞过
                </p>
            </div>
            {/foreach}
        {else/}
            <p style="text-align: center;line-height: 60px;">暂无评论</p>
        {/if}
    </div>
</div>
</body>
</html>