<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>懂贷咖</title>
    <link rel="stylesheet" href="__ICSS__/mui.min.css">
    <link rel="stylesheet" href="__ICSS__/iconfont.css">
    <link rel="stylesheet" href="__ICSS__/style.css">
    <link rel="stylesheet" href="__ICSS__/rank.css">
    <script src="__IJS__/mui.min.js"></script>
    <script src="__IJS__/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <img class="banner_pic" src="__IIMG__/user/rank_banner.png" alt="">
    <div class="tab_top">
        <span class="active">好评榜</span>
        <span>差评榜</span>
        <span>热搜榜</span>
    </div>
    <div class="ranking_box">
        <!-- 好评榜 -->
        <div class="ranking_item active">
            <ul>
                <li class="clearfix">
                    <div class="platform_name">
                            <span>
                            </span>
                        平台名称
                    </div>
                    <div class="platform_score">
                        平台分数
                    </div>
                    <div class="platform_praise">
                        好评率
                    </div>
                </li>
                <li class="clearfix">
                    <div class="platform_name">
                            <span>
                                <img src="__IIMG__/user/rank1.png" alt="">
                            </span>
                        蚂蚁花呗
                    </div>
                    <div class="platform_score">
                        5.0分
                    </div>
                    <div class="platform_praise">
                        99%
                    </div>
                </li>
                <li class="clearfix">
                    <div class="platform_name">
                            <span>
                                <img src="__IIMG__/user/rank2.png" alt="">
                            </span>
                        蚂蚁借呗
                    </div>
                    <div class="platform_score">
                        4.9分
                    </div>
                    <div class="platform_praise">
                        98%
                    </div>
                </li>
                <li class="clearfix">
                    <div class="platform_name">
                            <span>
                                <img src="__IIMG__/user/rank3.png" alt="">
                            </span>
                        分期乐
                    </div>
                    <div class="platform_score">
                        4.8分
                    </div>
                    <div class="platform_praise">
                        98%
                    </div>
                </li>
                <li class="clearfix">
                    <div class="platform_name">
                        <span>4</span>
                        e信金宝
                    </div>
                    <div class="platform_score">
                        4.8分
                    </div>
                    <div class="platform_praise">
                        97%
                    </div>
                </li>
                <li class="clearfix">
                    <div class="platform_name">
                        <span>5</span>
                        网商贷
                    </div>
                    <div class="platform_score">
                        4.8分
                    </div>
                    <div class="platform_praise">
                        97%
                    </div>
                </li>
            </ul>
        </div>
        <!-- 差评榜 -->
        <div class="ranking_item">
            <ul>
                <li class="clearfix">
                    <div class="platform_name">
                            <span>
                            </span>
                        平台名称
                    </div>
                    <div class="platform_score">
                        平台分数
                    </div>
                    <div class="platform_praise">
                        好评率
                    </div>
                </li>
                <li class="clearfix">
                    <div class="platform_name">
                            <span>
                                <img src="__IIMG__/user/rank1.png" alt="">
                            </span>
                        玖富钱包
                    </div>
                    <div class="platform_score">
                        2.0分
                    </div>
                    <div class="platform_praise">
                        38%
                    </div>
                </li>
                <li class="clearfix">
                    <div class="platform_name">
                            <span>
                                <img src="__IIMG__/user/rank2.png" alt="">
                            </span>
                        贷上钱
                    </div>
                    <div class="platform_score">
                        2.5分
                    </div>
                    <div class="platform_praise">
                        40%
                    </div>
                </li>
                <li class="clearfix">
                    <div class="platform_name">
                            <span>
                                <img src="__IIMG__/user/rank3.png" alt="">
                            </span>
                        现金巴士
                    </div>
                    <div class="platform_score">
                        2.6分
                    </div>
                    <div class="platform_praise">
                        40%
                    </div>
                </li>
                <li class="clearfix">
                    <div class="platform_name">
                        <span>4</span>
                        魔法现金
                    </div>
                    <div class="platform_score">
                        2.8分
                    </div>
                    <div class="platform_praise">
                        41%
                    </div>
                </li>
                <li class="clearfix">
                    <div class="platform_name">
                        <span>5</span>
                        拍拍贷
                    </div>
                    <div class="platform_score">
                        2.9分
                    </div>
                    <div class="platform_praise">
                        42%
                    </div>
                </li>

            </ul>
        </div>
        <!-- 热搜榜 -->
        <div class="ranking_item">
            <ul>
                <li class="clearfix">
                    <div class="platform_name">
                            <span>
                            </span>
                        平台名称
                    </div>
                    <div class="platform_score">
                        平台分数
                    </div>
                    <div class="platform_praise">
                        搜索次数
                    </div>
                </li>
                <li class="clearfix">
                    <div class="platform_name">
                            <span>
                                <img src="__IIMG__/user/rank1.png" alt="">
                            </span>
                        拍拍贷
                    </div>
                    <div class="platform_score">
                        2.0分
                    </div>
                    <div class="platform_praise">
                        46544
                    </div>
                </li>
                <li class="clearfix">
                    <div class="platform_name">
                            <span>
                                <img src="__IIMG__/user/rank2.png" alt="">
                            </span>
                        宜人贷
                    </div>
                    <div class="platform_score">
                        2.5分
                    </div>
                    <div class="platform_praise">
                        42032
                    </div>
                </li>
                <li class="clearfix">
                    <div class="platform_name">
                            <span>
                                <img src="__IIMG__/user/rank3.png" alt="">
                            </span>
                        玖富钱包
                    </div>
                    <div class="platform_score">
                        2.6分
                    </div>
                    <div class="platform_praise">
                        32145
                    </div>
                </li>
                <li class="clearfix">
                    <div class="platform_name">
                        <span>4</span>
                        马上金融
                    </div>
                    <div class="platform_score">
                        2.8分
                    </div>
                    <div class="platform_praise">
                        25846
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
<script>
    $(function(){
        $(".tab_top span").click(function(){
            $(this).addClass("active").siblings().removeClass("active");
            var index = $(this).index();
            $(".ranking_item").eq(index).addClass("active").siblings().removeClass("active");
        })
    })
</script>
</html>